.about {
  background-color: black;
  min-height: 100vh;
  padding: 15vh 15vw;
}

.aboutContainer {
  width: 74%;
}

.about-graphics {
  margin: 2vw 4vw 2vw 0;
}

.about-card {
  background: #fff;
  border-radius: 10px;
  height: min-content;
}

.card-icon {
  width: 4vw;
  height: 4vw;
}

.about-card .aboutHeading p {
  font-size: 1.2rem;
  font-weight: 600 !important;
  margin-bottom: 1vh;
  line-height: 1.4;
}

.about h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.about h2 span {
  color: #18d26e;
}

.about p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
}

.about-heading p {
  color: black !important;
}

/* Custom styles for small screens */
@media (max-width: 768px) {
  .about-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .about-card:nth-child(1){
    width: 100%;
  }

  .about-card:nth-child(2){
    width: 100%;
  }

  #about {
    padding: 15vh 3vw;
    flex-direction: column;
  }

  .about-graphics {
    width: 100%;
    flex-direction: column;
  }

  .about-graphics p {
    text-align: center;
  }

  .about-card img {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 15vw;
    height: 15vw;
  }

  .about h2 {
    font-size: 2.2rem;
  }

  .about p {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.6;
  }

  .semiCircle {
    display: none;
  }

  .card-content{
    flex-direction: column-reverse;
  }
}
